.site-list {
  display: block;

  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.site-list a {
  text-decoration: none;
  color: white;
}

.site-list {
  background: $dark-blue;
}

