.positive-sides {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

  &__list-item strong {
    font-size: 18px;
  }

  &__list-item p {
    font-size: 14px;
  }
}
