.promo {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;

  &__title {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: 2.14;
    color: rgba(40, 54, 69, 1);
  }
}
